.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

body, #root {
	background-color: #282c34;
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ui.table thead tr:first-child > th {
	position: sticky !important;
	top: 0;
	z-index: 2;
}

/* red with opacity */
.red-opaque {
	background-color: rgba(255, 0, 0, 0.2) !important;
}

/* green with opacity */
.green-opaque {
	background-color: rgba(0, 255, 0, 0.2) !important;
}


/* blue with opacity */
.blue-opaque {
	background-color: rgba(0, 0, 255, 0.2) !important;
}

.red-opaque.label {
	border-color: rgba(255, 0, 0, 0.2) !important;
	color: #fff !important
}

.green-opaque.label {
	border-color: rgba(0, 255, 0, 0.2) !important;
	color: #fff !important
}

.blue-opaque.label {
	border-color: rgba(0, 0, 255, 0.2) !important;
	color: #fff !important
}

/* red with half opacity */
.red-half {
	background-color: rgba(255, 0, 0, 0.5) !important;
}

/* green with half opacity */
.green-half {
	background-color: rgba(0, 255, 0, 0.5) !important;
}


/* blue with half opacity */
.blue-half {
	background-color: rgba(0, 0, 255, 0.5) !important;
}
